# Ignore everything
*

# Except these
!.gitignore
!FlaskAPIDevelopment/
!FlaskAPIDevelopment/**
!Flask/
!Flask/**

# Re-ignore junk inside allowed folders
**/venv/
**/__pycache__/
**/*.pyc
**/.env
**/.DS_Store