# System files
.DS_Store
**/.DS_Store
*/**/.DS_Store

# VS Code / Dev Container
.devcontainer/
**/.devcontainer/

# Python
__pycache__/
*.pyc
venv/

# Secrets
.env
.streamlit/secrets.toml
*/.streamlit/secrets.toml